<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RINGKASAN MASUK DAN KELUAR</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
        />
        <style>
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #fafafa;
            }

            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            .page {
                width: 21.59cm;
                /* height: 29.7cm; */
                min-height: 13.97cm;
                padding: 15mm;
                margin: 10mm auto;
                border: 1px #d3d3d3 solid;
                border-radius: 5px;
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                position: relative;
            }

            .subpage {
                padding: 1cm;
                border: 5px red solid;
                height: 257mm;
                outline: 2cm #ffeaea solid;
            }

            /* td {
                padding-top: 5px;
            } */
            th {
                font-size: 10pt !important;
            }

            .borderhr {
                color: black;
                background-color: black;
                border-color: black;
                height: 5px;
                opacity: 100;
            }

            .header h1 {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
            }

            @page {
                size: A4;
                margin: 0;
            }

            @media print {
                html,
                body {
                    width: 21.59cm;
                    /* height: 29.7cm; */
                }

                .page {
                    margin: 0;
                    border: initial;
                    border-radius: initial;
                    width: initial;
                    min-height: initial;
                    box-shadow: initial;
                    background: initial;
                    page-break-after: always;
                }
            }
        </style>
    </head>

    <body>
        <div class="page">
            <div class="header">
                <div class="row">
                    <div class="col-2">
                        <img src="logo.png" alt="" />
                    </div>
                    <div class="col-7 text-center">
                        <h1>RINGKASAN MASUK DAN KELUAR</h1>
                    </div>
                    <div class="col-3">
                        <!-- <div
                            class="border border-3 border-rounded py-4 px-5"
                        ></div> -->
                    </div>
                </div>
            </div>

            <table class="mx-auto table table-bordered w-100 mt-3 m-0">
                <tr>
                    <td colspan="2">
                        <div
                            class="d-flex justify-content-between align-items-center gap-0"
                        >
                            <div
                                class="d-flex justify-content-between align-items-center"
                            >
                                <p class="m-0" style="min-width: 100px">
                                    Tgl. Masuk ..........
                                </p>
                                <p class="m-0" style="min-width: 100px">
                                    Jam ..........
                                </p>
                                <p class="m-0" style="min-width: 100px">
                                    Tgl. Keluar ..........
                                </p>
                                <p class="m-0" style="min-width: 100px">
                                    Jam ..........
                                </p>
                                <p class="m-0" style="min-width: 100px">
                                    Lama Dirawat .......... hari
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="w-50">
                        <div class="row m-0">
                            <p>Pendidikan Terakhir :</p>
                            <table>
                                <tr>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-check-input mx-2"
                                            value="SD"
                                        />SD
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-check-input mx-2"
                                            value="SMP"
                                        />SMP
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-check-input mx-2"
                                            value="SMA"
                                        />SMA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-check-input mx-2"
                                            value="DIII"
                                        />DIII
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-check-input mx-2"
                                            value="DIV/S1"
                                        />DIV/S1
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-check-input mx-2"
                                            value="S2/S3"
                                        />S2/S3
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td class="w-50">
                        <div class="row">
                            <div class="d-flex justify-content-start">
                                <p class="m-0 col" style="min-width: 150px">
                                    Tahun Kunjungan ................. Dirawat ke
                                    ................
                                </p>
                            </div>
                        </div>
                        <div class="row m-0">
                            <p class="my-1">Ruang Rawat</p>
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />VIP
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Kelas II
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Kelas I
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Kelas III
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row m-0">
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <div class="row mt-2">
                                    <p
                                        class="m-0 col-6"
                                        style="min-width: 300px"
                                    >
                                        Alamat Sesuai KTP
                                        ........................................
                                    </p>
                                    <p class="m-0 col-6">
                                        ...............................................................................
                                    </p>
                                </div>
                            </div>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <div class="row mt-2">
                                    <p
                                        class="m-0 col-6"
                                        style="min-width: 300px"
                                    >
                                        Alamat Domisili
                                        .............................................
                                    </p>
                                    <p class="m-0 col-6">
                                        ...............................................................................
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row mb-2 m-0">
                            <div class="d-flex justify-content-start">
                                <p class="m-0 col">Nomor Telepon / HP</p>
                                <p class="m-0 col">
                                    .......................................
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="row m-0">
                            <div class="d-flex justify-content-start">
                                <p class="m-0 col">Email</p>
                                <p class="m-0 col">
                                    .......................................
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row mb-4">
                            <p class="m-0">Suku Bangsa :</p>
                            <div class="mb-1">
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Minang
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Jawa
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Batak
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Mentawai
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Melayu
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Lainnya
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-sm-7">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="sukubangsa_lainnya"
                                        style="display: none"
                                        id="sukubangsa_lainnya"
                                        placeholder="Ketik Suku Bangsa Lainnya"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row m-0">
                            <label
                                class="col-sm-5 col-form-label"
                                for="basic-default-name"
                                >Agama :</label
                            >
                            <table>
                                <tr>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="mx-2 form-check-input"
                                        />Islam
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="mx-2 form-check-input"
                                        />Protestan
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="mx-2 form-check-input"
                                        />Khatolik
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="mx-2 form-check-input"
                                        />Budha
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="mx-2 form-check-input"
                                        />Hindu
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="mx-2 form-check-input"
                                        />Konghucu
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row m-0">
                            <p class="my-1">Pekerjaan :</p>
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />PNS
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />BUMN
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />SWASTA
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />lainnya ............
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-sm-7">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="pekerjaan_lainnya"
                                        style="display: none"
                                        id="pekerjaan_lainnya"
                                        placeholder="Ketik Nama Pekerjaan disini"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row m-0">
                            <div class="d-flex justify-content-start">
                                <p class="m-0 col">Keyakinan</p>
                                <p class="m-0 col">
                                    ............................................
                                </p>
                            </div>
                        </div>
                        <div class="row mt-3 m-0">
                            <div class="d-flex justify-content-start">
                                <p class="m-0 col">Nilai-nilai Pribadi</p>
                                <p class="m-0 col">
                                    ............................................
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row m-0">
                            <p class="m-0">Bahasa yang digunakan</p>
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Indonesia
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Daerah
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Isyarat
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Lainnya
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-sm-7">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="lainnya_bahasa"
                                        style="display: none"
                                        id="lainnya_bahasa"
                                        placeholder="Ketik Bahasa Yang Digunakan"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row m-0">
                            <p class="m-0">Kedatangan Pasien</p>
                            <div class="my-2">
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Datang Sendiri
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="form-check-input mx-2"
                                            />Dirujuk Oleh .......
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-sm-7">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="kedatangan_rujukan"
                                        style="display: none"
                                        id="kedatangan_rujukan"
                                        placeholder="Dirujuk Oleh"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row">
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td class="py-1">Hambatan Bahasa</td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />
                                            Tidak
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Ya
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">
                                            Kebutuhan Penerjemah
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />
                                            Tidak
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Ya
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Kebutuhan Disabilitas</td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />
                                            Tidak
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Ya
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row m-0">
                            <p class="my-1">Masuk Rumah Sakit Melalui :</p>
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />Poliklinik
                                        </td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="mx-2 form-check-input"
                                            />IGD
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row m-0">
                            <p class="m-0">Riwayat Mutasi :</p>
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            1. Pindah Dari Bangsal ........ Ke
                                            ......... Tanggal .......
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2. Pindah Dari Bangsal ........ Ke
                                            ......... Tanggal .......
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="row m-0">
                            <p class="my-1">Keadaan Keluar</p>
                            <div>
                                <table>
                                    <tr>
                                        <td style="width: 33%">
                                            <input
                                                type="checkbox"
                                                class="mx-1 form-check-input"
                                            />Sembuh
                                        </td>
                                        <td style="width: 33%">
                                            <input
                                                type="checkbox"
                                                class="mx-1 form-check-input"
                                            />Perbaikan
                                        </td>
                                        <td style="width: 33%">
                                            <input
                                                type="checkbox"
                                                class="mx-1 form-check-input"
                                            />Cacat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <input
                                                type="checkbox"
                                                class="mx-1 form-check-input"
                                            />Menetap/Memburuk
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <input
                                                type="checkbox"
                                                class="mx-1 form-check-input"
                                            />Meninggal <= 48 Jam
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <input
                                                type="checkbox"
                                                class="mx-1 form-check-input"
                                            />Meninggal > 48 jam
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="">
                        <div class="row">
                            <p class="my-1">Cara Keluar :</p>
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <div>
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-1"
                                                />Atas Persetujuan
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-1"
                                                />Lari
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-1"
                                                />Meninggal
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2">
                                            <div style="min-width: 100px">
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-1"
                                                />Pulang APS
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div style="min-width: 150px">
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-1"
                                                />Pindah RS Lain
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row m-0">
                            <p class="my-1">Meninggal</p>
                            <div>
                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <div style="min-width: 130px">
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-2"
                                                    value="Autopsi"
                                                />Autopsi
                                            </div>
                                        </td>
                                        <td>
                                            <div style="min-width: 200px">
                                                <input
                                                    type="checkbox"
                                                    class="form-check-input mx-2"
                                                />Tanpa Autopsi
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <table class="table-bordered w-100">
                <thead>
                    <tr class="text-nowrap bg-secondary">
                        <th class="text-dark">
                            Diagnosis (Dengan Huruf Cetak, Jangan Disingkat)
                        </th>
                        <th class="text-dark">Kode Diagnosa Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Diagnosa Utama</td>

                        <td>
                            ICD X
                            .........................................................
                        </td>
                    </tr>
                    <tr>
                        <td>Diagnosa Sekunder</td>

                        <td>
                            ICD X
                            .........................................................
                        </td>
                    </tr>
                    <tr>
                        <td>Diagnosa Kompikasi dan Resiko Yang Muncul</td>

                        <td>
                            ICD X
                            .........................................................
                        </td>
                    </tr>
                    <tr>
                        <td>Tindakan Operasi</td>
                        <td>
                            ICD X
                            .........................................................
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Riwayat Alergi
                            <input
                                type="checkbox"
                                class="ms-2 form-check-input"
                            />
                            Tidak
                            <input
                                type="checkbox"
                                class="ms-2 form-check-input"
                            />
                            Ada
                            <span class="mx-5 px-5"></span>
                            Riwayat Tranfusi
                            <input
                                type="checkbox"
                                class="ms-2 form-check-input"
                            />
                            Tidak
                            <input
                                type="checkbox"
                                class="ms-2 form-check-input"
                            />
                            Ada
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Boleh Pulang /APS/Meninggal : Tgl. .......... Jam.
                            ..........
                        </td>
                        <td>
                            Kontrol Kembali : Tgl. .......... Jam. ..........
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="w-100 row mt-5 text-center">
                <div
                    class="col-4 d-flex flex-column justify-content-center align-items-center"
                >
                    <p>Nama DPJP Tambahan</p>
                    <br /><br />
                    <p class="m-0">
                        1. ..............................................
                    </p>
                    <p class="m-0">
                        2. ..............................................
                    </p>
                </div>
                <div
                    class="col-4 d-flex flex-column justify-content-center align-items-center"
                >
                    <p>Tanda Tangan</p>
                    <br /><br />
                    <p class="m-0">
                        1. ..............................................
                    </p>
                    <p class="m-0">
                        2. ..............................................
                    </p>
                </div>
                <div
                    class="col-4 d-flex flex-column justify-content-center align-items-center"
                >
                    <p>Dokter yang merawat (DPJP Utama)</p>
                    <br /><br />
                    <p class="m-0">
                        (..........................................................)
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
